
<!-- O NAMA -->
<section class="my-5">
  <h2 class="h1-responsive font-weight-bold text-center my-5">O NAMA</h2>
  <p class="lead grey-text  w-responsive mx-auto mb-5"><strong>Osnovana prije više od 20 godina, uz jasnu poslovnu viziju, dosljednu primjenu strategije razvoja i dobro promišljena ulaganja, firmu VALPROM d.o.o je izrasla iz malog porodičnog preduzeća u vodećeg distributera autodijelova u BiH.  </strong></p>

    <div class="row">
    <div class="col-lg-5 text-center text-lg-left">
      <img class="img-fluid" src="http://www.kdautoparts.com/images/site/admin/kdauto-parts-galway.jpg" alt="Sample image">
    </div>
    <div class="col-lg-7">
      <div class="row mb-3">
        <div class="col-1">
          <i class="fa fa-arrow-right fa-lg indigo-text"></i>
        </div>
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Težimo izvrsnosti!
          </h5>
          <p class="grey-text">Od samog početka poslovanja, VALPROM d.o.o.  je fokusiran na sigurnost  i postizanje zadovoljstva svojih kupaca, krajnjih potrošača i drugih interesnih grupa, što je ujedno  i cilj  koji uspješno postiže više od 20 godina. </p>
        </div>

      </div>
      <div class="row mb-3">
        <div class="col-1">
          <i class="fa fa-arrow-right fa-lg indigo-text"></i>
        </div>
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Misija</h5>
          <p class="grey-text">Misija firme VALPROM je osigurati najviše standarde kvalitete u distribuciji rezervnih auto dijelova i pružiti kupcima najvišu vrijednost  za uloženi  novac, držeći se načela konkurentnosti i društvene odgovornosti..</p>
        </div>

      </div>
      <div class="row">
        <div class="col-1">
          <i class="fa fa-arrow-right fa-lg indigo-text"></i>
        </div>
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Vizija</h5>
          <p class="grey-text mb-0">Vizija firme VALPROM je biti međunarodno relevantna firma koja postavlja nove standarde izvrsnosti u distribuciji autodijelova i auto opreme. Svoje ciljeve firma će postići fokusirajući se  na održivi razvoj i rast poslovanja, u skladu sa svojim vrijednostima u svakom aspektu djelovanja.</p>
          </div>
        </div>
    </div>
  </div>
</section>
<hr>
<!-- ZASTO BAS MI -->

<section class="text-center my-5">

  <h2 class="h1-responsive font-weight-bold my-5">ZAŠTO BAŠ MI?</h2>
  <p class="lead grey-text w-responsive mx-auto mb-5">Visoka dostupnost artikala (preko 95%) i brzina isporuke, ključni su faktori pomoću kojih VALPROM decenijama gradi lidersku poziciju na bh tržištu.</p>

  <div class="row">

    <div class="col-md-4">

      <i class="fa fa-car fa-3x red-text"></i>
      <h5 class="font-weight-bold my-4">AUTO DIJELOVI</h5>
      <p class="grey-text mb-md-0 mb-5">Naš kvalitet prepoznale su i mnoge firme van granica BiH i u nama prepoznale dobrog partnera, tako da se u firmi VALPROM u ponudi mogu naći samo autodijelovi visokog kvaliteta.
      </p>

    </div>

    <div class="col-md-4">

      <i class="fa fa-cogs fa-3x cyan-text"></i>
      <h5 class="font-weight-bold my-4">SERVISI</h5>
      <p class="grey-text mb-md-0 mb-5">VALPROM d.o.o. opskrbljuje veliki broj servisa i trgovina autodijelova širom Bosne i Hercegovine.
      </p>

    </div>
    <div class="col-md-4">

      <i class="fa fa-truck fa-3x orange-text"></i>
      <h5 class="font-weight-bold my-4">BRZA DOSTAVA</h5>
      <p class="grey-text mb-0">Zahvaljujući velikom broju raspoloživih vozila, autodijelovi stižu na vašu adresu u roku od 24h.
      </p>

    </div>
  </div>
</section>
<hr>
<!-- PARTNERI -->
<section class="text-center my-5">
    <h2 class="h1-responsive font-weight-bold my-5">NASI PARTNERI</h2>

  <mdb-carousel [isControls]="false" [animation]="'slide'" class="testimonial-carousel">
    <mdb-slide>
      <div class="testimonial">
        <div class="avatar mx-auto mb-4">
          <img src="/src/assets/images//partners/continental-positiv_131935.png.png" alt="First sample avatar image">
        </div>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad
          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum
          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
        </p>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="testimonial">
        <div class="avatar mx-auto mb-4">
          <img src="/src/assets/images//partners/sasch-p_152557.png.png" alt="First sample avatar image">
        </div>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad
          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum
          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
        </p>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="testimonial">
        <div class="avatar mx-auto mb-4">
          <img src="/src/assets/images//partners/delphi-p_132615.png.png" alt="First sample avatar image">
        </div>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad
          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum
          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
        </p>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="testimonial">
        <div class="avatar mx-auto mb-4">
          <img src="/src/assets/images//partners/luk-p_145932.png.png" alt="First sample avatar image">
        </div>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad
          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum
          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
        </p>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="testimonial">
        <div class="avatar mx-auto mb-4">
          <img src="/src/assets/images//partners/bosch-positiv_131511.png.png">
        </div>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad
          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum
          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
        </p>
      </div>
    </mdb-slide>
  </mdb-carousel>
</section>

<hr>
<!-- CONTACT  -->

<section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5">INFORMACIJE</h2>
    <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sa više od 20 godina iskustva, VALPROM  se pozicionirao među lidere u distribuciji rezervnih dijelova, opreme i kozmetike za putnička i laka komercijalna vozila na tržištu Bosne i Hercegovine.<br> Kroz veleprodaju i maloprodaju, našim kupcima je na raspolaganju preko 70.000 artikala za više od 40 marki automobila sa besplatnom dostavom u roku 24 sata.</p>
          <br>
          <h1 class="font-weight-bold dark-grey-text mb-3"><a>RADNO VRIJEME</a></h1>
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4"><strong>PONEDELJAK - PETAK</strong></p>
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">08:00 - 17:00</p>
      </div>
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa fa-map-marker fa-2x indigo-text"></i>
            <p>Doboj, Bosna i Hercegovina</p>
          </li>
          <li>
            <i class="fa fa-phone fa-2x mt-4 indigo-text"></i>
            <p>+387 53 208 210</p>
          </li>
          <li>
            <i class="fa fa-envelope fa-2x mt-4 indigo-text"></i>
            <p class="mb-0">valprom@gmail.com</p>
            <br>
          </li>
        </ul>
      </div>

    </div>
  </section>

